* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(52, 52, 52);
  color: white;
}

a {
  text-decoration: none;
  color: #d6d6d6;
}

a:hover {
  color: rgb(240, 240, 140);
}

form {
  background-color: #666;
  padding: 10px;
  border-radius: 10px;
}

input,
button,
select {
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin-right: 5px;
}

button {
  background-color: #86bbbd;
  cursor: pointer;
}

hr {
  margin: 20px 0px;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}
