.space {
  margin: 10px 20px;
  display: inline-block;
}
.positive {
  color: green;
}

.negative {
  color: red;
}

.deleteBtn {
  background-color: #f39a9d;
  cursor: pointer;
}
.accountingApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 768px) {
  .accountingApp {
  }
}
